*.cmi
*.cmx
*.o
*.out
lexer.ml
parser.ml
parser.mli
min-caml.opt
/.*
/test/*.s
/ltest
/lib/ocaml
/lib/*
!/lib/*.ml
!/lib/math_primitive.s
!/lib/io.s
!/lib/array.s
!/lib/mathlib.s
!/lib/*.cpp
/lib/.*
/globals_compiler/*
!/globals_compiler/*.cpp
!/globals_compiler/*.in
/mathverify/*
!/mathverify/*.ml
!/mathverify/*.cpp
/lib_fast/*
!/lib_fast/*.cpp
!/lib_fast/*.ml
!/lib_fast/*.s
/lib_fast/mathverify/*
!/lib_fast/mathverify/*.ml
!/lib_fast/mathverify/*.cpp
/rt/raytracer/out
/rt/raytracer/test
/gctest

